<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Ha Eun Kim</mat-card-title>
    <mat-card-subtitle> Seneca College </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>Hello, this is Ha Eun Kim studying 4th semester in seneca college.</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button style="background-color: blue; color: white">
      LIKE
    </button>

    <button mat-button style="background-color: green; color: white">
      SHARE
    </button>
  </mat-card-actions>
</mat-card>
