<mat-card>
  <mat-card-header>
    <mat-card-title>Haeun Kim</mat-card-title>
    <mat-card-subtitle
      >Computer Programming & Analysis at Seneca</mat-card-subtitle
    >
  </mat-card-header>

  <div mat-card-image></div>
  <mat-card-content>
    <p>
      Hello, this is Ha Eun Kim studying computer programming at seneca. I am
      currently in the fourth semester at Seneca College. <br />I love working
      with people to design and create applications with different technologies
      that can inspire others.
    </p>
    <p>
      I want to become a Tester/Deveoper which i can expand my abilities to
      design and implement various applications which can create a positive
      influence on our society.
    </p>
  </mat-card-content>
</mat-card>
